 .movie-reviews-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
  }
  
  .review-browser {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
  }
  
  .reviews-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
  }
  
  .review-item {
    width: 250px;
    height: 350px; 
    border: 1px solid #ccc;
    padding: 16px;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    transition: transform 0.3s ease-in-out;
    overflow: auto;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px #f59e0b;
    }
  }
  
  .poster-container {
    max-height: 150px;
    overflow: hidden;
  }
  
  .poster-container img {
    width: 38%; 
    height: auto; 
  }
  
  .username {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .review-text {
    font-size: 14px;
    color: #555;
    overflow: auto;
  }
  
  h1 {
    color: #f59e0b;
    font-family: 'Poppins', sans-serif;
    
    
  }
  
  .favs-browser {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
  }
  
  .favorites-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
   
  }
  
  .fav-item {
    width: 200px;
    height: 300px; 
    border: 1px solid #ccc;
    padding: 16px;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    transition: transform 0.3s ease-in-out;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    color: #f59e0b;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px #f59e0b;
    }
  }
  
  .poster-image {
    width: 100%;
    height: auto;
    max-height: 150px;
    overflow: hidden;
  }
  
  .poster-details {
    font-size: 14px;
    color: #f59e0b;
    overflow: auto;
  }
  
  h1 {
    color: #f59e0b;
    font-family: 'Poppins', sans-serif;
  }
  
  .movie-title {
    color: #f59e0b;
    font-family: 'Poppins', sans-serif;
  }
  .name{
    color:#ccc;
    font-family: 'Poppins', sans-serif;
  }
  .favsBtn{
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
  }
  .favsBtn1{
    background-color: #f59e0b;
    font-family: inherit;
    margin-bottom: 20px;
    padding: 10px 20px; 
    border-radius: 10px;
  }
  
  .returnBtn{
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
  }
  .returnBtn1{
    background-color: #f59e0b;
    font-family: inherit;
    margin-bottom: 20px;
    padding: 10px 20px; 
    border-radius: 10px;
  }
  .moreBtn{
    background-color: #f59e0b;
    font-family: inherit;
    margin-bottom: 10px;
    padding: 10px 10px; 
    border-radius: 10px;
    margin-top: 5px;
  }
  .favs-description {
    margin-top: 20px; 
  }
  .sortBtn{
    background-color: #f59e0b;
    font-family: inherit;
    margin-bottom: 10px;
    padding: 5px 5px; 
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 20px;
  }
  .retBtn1{
    padding: 2px 8px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #f59e0b;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s;
    margin-right: 700px;
  }
  .retBtn1:hover{
    background-color: #f59e0b;
    box-shadow: 0 0 15px rgba(251, 191, 36, 0.7);
  }
  
  @media screen and (max-width: 600px) {
    .review-browser,
    .favs-browser {
      padding: 10px; 
    }
    
    .reviews-container{
      display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center; 
    align-items: center; 
    }
    .favorites-container{
      display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center; 
    align-items: center; 
    }
  
    .review-item,
    .fav-item {
      width: 100%; 
    }
  
    .poster-container img,
    .poster-image {
      width: 50%; 
    }
    .movie-overview,
    .movie-rating, 
    .movie-homepage{
      padding: 10px;
    }
  }
  
  
  .movie-reviews-container,
  .reviews-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding:10px;
  }
  
 
  .review-browser .review-item,
  .favs-browser .fav-item {
    width: 250px;
    height: 350px;
    border: 1px solid #ccc;
    padding: 16px;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    transition: transform 0.3s ease-in-out;
    overflow: auto;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px #f59e0b;
    }
  }
  
  
  .movie-reviews-container h1,
  .favs-browser h1 {
    color: #f59e0b;
    font-family: 'Poppins', sans-serif;
  }
  
  .favsBtn,
  .returnBtn,
  .moreBtn,
  .favs-description,
  .sortBtn {
    font-family: 'Poppins', sans-serif;
  }
  
  .favsBtn1,
  .returnBtn1,
  .moreBtn,
  .sortBtn {
    background-color: #f59e0b;
    font-family: inherit;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
  }
