.Nowplaying {
    text-align: center;
    padding: 20px;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    margin: 10px;
    color: var(--primary-text-color);
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 15px rgba(251, 191, 36, 0.7);
  }