
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: #f59e0b;
    border: 1px solid #ccc;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    pointer-events: auto;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  textarea {
    height: 100px;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0);
    color: #f59e0b;
    pointer-events: auto;
  }
  
  button {
background-color: #f59e0b;
  color: #0c0a09;
  text-decoration: none;
  padding: 10px;
  border: none;
  border-radius: 4px; 
  transition: background-color 0.3s ease-out;
  font-size: 80%;
  font: inherit;
  cursor: pointer;
  margin-top: 10px; 
  }
  button:hover{
background-color: #f59e0b;
  color: rgb(255, 255, 255);
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(251, 191, 36, 0.7);
  }
  